@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  text-align:left;
  margin-left: 200px;
  color:#000000;
  background-color: #F8F4E3;
  font-family:'Roboto';
  font-weight:300;
  font-size:32px;
  padding-top: 20%;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

div:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 7s ;
}

div:last-of-type {
  width:0%;
  animation: reveal 7s ;
}

div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s ;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-1%; }
    20% { margin-left:-1%; }
    35% { margin-left:0%; }
    100% { margin-left:0%;}
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:1;width:355px;}
}

p {
  font-size:16pt;
  color:#000000;
  margin-top:20%;
}
