
/* ^ Was bisque */
body {
    font-family: 'Lato', sans-serif;
  }
  
  .overlay  {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 2px;
    text-decoration: none;
    font-size: 36px;
    color: #F4F9E9;
    display: block;
    transition: 0.3s;
    
    
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #7f807d;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    border: none;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  #openButton{
      color: black;
      font-size: 35pt;
      cursor: pointer;
      margin-left: 1.5%;
      margin-top: .5%;
      
  }
  #openButton:hover{
    color: rgba(0, 0, 0, 0.425);
    font-size: 37pt;
    cursor:pointer;
    margin-left: 1.5%;
    margin-top: .5%;
}

#openButtonW{
  color: white;
  font-size: 35pt;
  cursor: pointer;
  margin-left: 1.5%;
  margin-top: .5%;
  
}
#openButtonW:hover{
color: rgba(255, 255, 255, 0.425);
font-size: 37pt;
cursor:pointer;
margin-left: 1.5%;
margin-top: .5%;
}



#content{
  width: 45%;
    height: 80%;
    background-color: #8fc1e3c4;
    border-radius: 5px;
    border: 2px solid rgb(56, 55, 55);
    overflow-y: scroll;

    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.mainImg{
  width: 80%;
  height: 100%;
  
  position:absolute;
  left: 60%;
  top:50%;
  transform: translate(-50%, -50%);
}
.bgColor{
background-color: #F8F4E3;
}



/*testing things*/


#welcomeSign{
  width: 100%;
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
}
#mainTitleTxt{
  color: #31708E;
  text-shadow: 0 10px 30px #3f3f42c2, 0 40px 60px #555558d0;
  font-size: 80px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -3px;
  margin: 0;
}
.bgImg{
  background-image: url(../images/streetTrees.png);
  background-repeat: no-repeat;
  background-size: cover;
}